body {
  font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10%;
  color: #223;
  background-color: #f7fafc;
}

p {
  margin-left: .8em;
}

ul {
  font-size: .7em;
}

li {
  padding: 0 0 .4em;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #3975af;
}

a:visited {
  color:#90abc8;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}
