body {
  font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 5%;
  color: #223;
  background-color: #f7fafc;
}

@media only screen and (min-width: 360px) {
  body {
    padding: 10%;
  }
}

p {
  margin-left: .4em;
  line-height: 1.4em;
  max-width: 600px;
}

h2 {
  color: #848484;
  font-weight: normal;
  font-size: 1.4em;
  margin: 1em 0 .6em 0;
}

ul {
  font-size: .8em;
  padding: 0 40px 0 0;
}

li {
  padding: 0 0 .7em;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(3 105 161);
}

a:hover {
  color: rgb(14 165 233);
  opacity: .75;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

.certifications {
  margin: 0 auto;
}

.certifications img {
  width: 200px;
}

@media only screen and (min-width: 360px) {
  .certifications {
    text-align: left;
  }

  .certifications img {
    width: 100px;
    height: 100px;
    padding: 4px;
  }
}